//
// Explorer.scss - Styles for the 'Explorer' component
//

@use './common' as *;

.explorer {
  min-width: 200px;
  max-width: 30%;
  border-right: 1px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: stretch;
}

.explorer>* {
  flex-grow: 1;
}