//
// Main.scss - Styles for the 'Main' component
//

@use './common' as *;


html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}